<%= simple_form_for @robot, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, label: "Nome Para Identificar seu Robo", placeholder: "Ex: Robo de Compro"%>
  <%= f.input :search, label: "Palavra que o Robo deve Buscar", placeholder: "Ex: Compro"%>
  <%= f.input :nosearch, label: "Palavra que o Robo NÃO deve Buscar | Separar Palavras por Virgula!", :placeholder => "Ex: Procuro, Queremos, Compramos"%>
  <%= f.association :type, label: "Tipo da Mensagem"  %>
  <%= f.input :page_finish, label: "Página Começo" %>
  <%= f.input :page_start, label: "Página Fim" %>
  <label class="checkbox-inline">
    <%= f.input :automatic %>
  </label>
    <label class="checkbox-inline">
      <%= f.input :status %>
  </label>
  <br>
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                robots_path, :class => 'btn btn-default' %>
<% end %>
